body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(205, 109, 50);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.continer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    
}
.btn{
 
    margin: 30px;
    padding: 40px;
    color: black;
    background-color: cadetblue;
    font-weight: bolder;
    font-size: large;
    border-radius: 10px;
   border: rgb(60, 106, 107) double 10px;
   box-shadow: 0 0 10px;
}
.btn:hover{
    background-color: rgb(117, 185, 187);
    cursor: pointer;
    scale: 1.3;
    color: aliceblue;
    border-radius: 10px;
    box-shadow: 0 0 30px black;
    
}
